<table class="table table-bordered table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Terminée?</th>
      <th scope="col">Date d'ajout:</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Todo A</td>
      <td>Description de Todo A</td>
      <td class="d-flex justify-content-center">
        <button class="bg-button d-flex align-items-center justify-content-center">
          <i class="bi bi-exclamation-circle-fill"></i>
        </button>
      </td>
      <td>26/08/2022</td>
      <td><button type="button" class="btn bg-black btn-outline-danger">Supprimer</button></td>
    </tr>
  </tbody>
</table>
